<!DOCTYPE html>
<html>
  <head>
    <title>Readaholic</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes"></head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Readaholic</span>
      </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Readaholic</span>
        <nav class="mdl-navigation">
          <%= render partial: 'layouts/menu' %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
